@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 243 60% 60%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --radius: 0.5rem;
    --neutral: 0 0% 13%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Add these styles to your globals.css */
.mentions-input {
    width: 100%;
}

.mentions-input__input {
    color: var(--text-primary);
    outline: none;
    border: none;
}

.mentions-input__suggestions__list {
    background-color: var(--neutral-secondary);
    border: 1px solid var(--borders-light);
    border-radius: 12px;
    box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.05);
    overflow: hidden;
    backdrop-filter: blur(32px);
    position: absolute;
    bottom: 100%;
    left: -12px;
    right: -12px;
    margin-bottom: 8px;
    min-width: 200px;
}

.mentions-input__suggestions__item {
    padding: 0;
}

.mentions-input__highlighter {
    border: none;
    outline: none;
    color: black;
}

.mentions-input__suggestions__list::-webkit-scrollbar {
    width: 4px;
}

.mentions-input__suggestions__list::-webkit-scrollbar-track {
    background: transparent;
}

.mentions-input__suggestions__list::-webkit-scrollbar-thumb {
    background: var(--neutral-primary);
    border-radius: 2px;
}

.mentions-input__suggestions__list::-webkit-scrollbar-thumb:hover {
    background: #404040;
}

.mentions-input__control {
    border: none;
    color: white;
}
